<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <h1>
            hello world
        </h1>
        <div class="container">
            <h2>Users</h2>
            <% if (users && users.length > 0) { %>
                <% users.forEach(user => { %>
                    <h3>
                        <%= user.firstName %>
                    </h3>
                    <h4>
                        <%= user.email %>
                    </h4>

                    <% }) %>
                        <% } else { %>
                            <p>No userasdsds found.</p>
                            <% } %>

        </div>
    </body>

</html>